.icon-position:before {
  content: "\f0c0";
}
.icon-department:before {
  content: "\e611";
}
.personnel_view .td {
  border-bottom: 1px dashed #DDD;
}
.personnel_view h3 {
  border-bottom: 3px solid #DDD;
}