@page {
  margin: 0;
  size: A4;
}
body, html {
  background-color: #333;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Loma, 'Times New Roman', Times, serif;
  font-size: 10pt;
  color: #000;
}
section {
  background-color: #FFF;
  box-shadow: 0 0 10px #000;
  width: 210mm;
  margin: 30px auto;
  padding: 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  html, body {
    width: 210mm;
    background-color: #FFF;
  }
  section {
    box-shadow: none;
    width: auto;
    margin: 0;
  }
}
h1, h2 {
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table, td, th {
  border-width: 1px;
}
table.border {
  border-style: none none solid solid;
}
table.border thead th {
  border-style: solid solid none none;
}
table.border tbody td {
  border-style: solid solid none none;
}
td {
  padding: 5px;
}
.center {
  text-align: center;
}